{
  "extends": ["airbnb-base","prettier"],
  "parser": "babel-eslint",
  "plugins": ["jest"],
  "env": {
    "jest/globals": true
  },
  "globals": {
    "Page": true,
    "Component": true,
    "App":true,
    "wx": true,
    "getApp": true,
    "getCurrentPages":true,
    "Behavior": true,
    "jest":true,
    "R":true
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "no-shadow":"off",
    "calemcase":"off",
    "class-methods-use-this":"off",
    "consistent-return":"off",
    "array-callback-return":"off",
    "import/named": "off",
    "import/prefer-default-export":1,
    "one-var":"off",
    "no-underscore-dangle":"off",
    "no-plusplus":"off",
    "camelcase":1,
    "no-console":"off",
    "no-empty":1,
    "no-unused-expressions":1,
    "no-multi-assign": "off",
    "import/first":1,
    "prefer-promise-reject-errors":1,
    "import/extensions":"off",
    "prefer-const":1,
    "no-restricted-properties":"off",
    "no-bitwise": "off",
    "no-restricted-syntax":1,
    "no-param-reassign": 1,
    "no-nested-ternary": 1,
    "no-control-regex":"off"
  }
}